/* Tab Navigation */

.nav-item {
  flex-shrink: 0; /* Prevent shrinking of tab items */
}

.nav-link {
  color: #495057;
  border: none;
  margin: 0;
  padding: 10px 0; /* Adjust padding */
  font-size: 1.1rem;
  transition: all 0.3s ease;
  background: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap; /* Prevent line breaks */
}

.nav-link:hover {
  color: #000;
}
.nav-link.active {
  color: #0d6efd;
  font-weight: bold; /* Bold text for active tab */
}

/* Progress Bar Under Active Tab */
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Position under the heading */
  width: 0; /* Start with 0 width */
  height: 2px;
  background-color: red; /* Red progress bar */
  animation: progress 0.5s ease-in-out forwards; /* Animation */
}

/* Animation for Progress Bar */
@keyframes progress {
  from {
    width: 0; /* Start from 0 */
  }
  to {
    width: 100%; /* End at 100% */
  }
}

/* Tab Content */
/* .tab-content {
  padding: 20px 0;
} */

/* .techs-main {
  background-color: #f8f9fa;
  border-radius: 24px;
  padding: 20px;
} */

/* .technology-stacks-techs ul {
  list-style: none;
} */

/* .technology-stacks-techs li {
  margin-bottom: 10px;
} */

/* .technology-stacks-techs img {
  width: 20px;
  height: 20px;
} */
