.btn-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Progress Bar */
.progress-bar {
  display: flex;
  gap: 5px;
  width: 100px;
  height: 5px;
  align-items: center;
}

.progress-segment {
  flex: 1;
  height: 5px;
  background: #ddd;
  transition: background 0.3s ease-in-out;
}

.progress-segment.active {
  background: #000; /* Darkened for active segments */
}
