.custom-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.custom-dots .dot.active {
  background-color: #000;
}
