.slick-slide img {
    border-radius: 24px;
    height: auto;
    width: 50% !important;
    position: relative;
    z-index: 3;
    transition: opacity 0.3sease, transform 0.3sease;
}
.swiper-pagination-bullet i {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 25rem;
    height: 4px;
    background-color: #707070;
    border-radius: 9px;
}
.ourwork-slider {
    display: flex;
    justify-content: center; /* Center images */
    align-items: center;
    overflow: hidden; /* Prevents stretching */
  }
  
  .image-container {
    display: flex;
    gap: 20px; /* Space between images */
    justify-content: center;
  }
  
  .image-container img {
    width: 30%; /* Each image takes 30% of the width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounds corners */
    object-fit: cover; /* Prevents distortion */
  }
  

  .timelineslider .swiper-pagination-bullet em {
    margin-top: 32px !important;
    margin-left: -13px !important;
}
@media only screen and (max-width: 1366px) {
    .swiper-pagination-bullet em {
        font-size: 16px !important; 
    }
}



.custom-pagination {
  position: absolute;
  bottom: 20px;

  transform: translateX(-50%);
  
 display: flex;
 justify-content: center;
  width: 80%;
}

.custom-bullet {
  width: 20px;
  height: 20px;
  right: 30%;
  background-color: #ffffff;
  bottom: 3.7rem;
  border-radius: 50%;

  margin-right: 5rem;
  transition: opacity 0.3s;
  position: relative;
}
